@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@font-face {
    font-family: starWars;
    src: url('../fonts/Starjedi.ttf') format('woff2');
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.name-section {
    background: white;
    background-size: cover;
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100vh;
    min-height: 600px;
    position: relative;
}

.name-section-atitlan-bg {
    animation: bg 3s ease-out forwards;
}

@keyframes bg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hero-image {
    height: 100vh;
    min-height: 600px;
}

.links {
    font-size: 3rem;
    margin: 10px;
    position: fixed;
}

.name {
    animation: in 3.5s ease-out forwards;
    margin: 0;
    line-height: 0.3;
    position: absolute;
    right: 10vw;
    text-align: right;
}

.name h1 {
    font-size: 7.5rem;
    font-weight: 300;
}

@keyframes in {
    0% {
        color: black;
        letter-spacing: -35px;
        opacity: 0.7;
    }
    100% {
        color: white;
        letter-spacing: 8px;
    }
}

.blink {
    background: white;
    color: black;
    opacity: 0.8;
}

.proj-title,
.challenges-title {
    align-items: center;
    background: rgb(26, 26, 26);
    color: white;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    height: 7rem;
    justify-content: center;
    margin: 50px 0;
    opacity: 0.9;
}

.proj-wrapper,
.challenges-wrapper {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    margin: 0 15vw;
}

.challenges-wrapper {
    padding-bottom: 50px;
}

.proj,
.challenge {
    align-items: center;
    color: white;
    display: flex;
    font-size: 4rem;
    height: 16rem;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.proj:hover,
.challenge:hover {
    cursor: pointer;
    letter-spacing: 5px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    transition: all 0.5s ease-in-out;
    transform: scale(1.15);
    z-index: 1;
}

.proj-hover-text {
    bottom: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 1;
    opacity: 0;
    padding-bottom: 45px;
    position: absolute;
    text-align: center;
    transform: scale(0.2);
    transition: 0.5s ease-in-out;
    z-index: 2;
}

.proj-summit-register .proj-hover-text {
    font-size: 1.5rem;
    text-shadow: 1px 1px black;
}

.proj-byobe .proj-hover-text,
.proj-marvelous .proj-hover-text,
.proj-long-shot-league .proj-hover-text {
    text-shadow: 1px 1px rgb(99, 99, 99);
}

.proj-cc .proj-hover-text {
    color: rgb(128, 41, 41);
    text-shadow: 1px 1px white;
}

.proj-pp .proj-hover-text {
    text-shadow: 1px 1px black;
}

.proj-headcount .proj-hover-text {
    color: rgb(92, 161, 184);
    font-size: 1.5rem;
    padding-bottom: 25px;
    text-shadow: 1px 1px rgb(174, 174, 174);
}

.proj-swapi-box .proj-hover-text {
    color: #fdde09;
}

.proj-space-bunny .proj-hover-text {
    text-shadow: 1px 1px red;
}

.proj:hover .proj-hover-text {
    bottom: 0;
    letter-spacing: 2px;
    opacity: 1;
    text-align: center;
    transform: scale(1);
}

.proj-summit-register {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
        url('../images/summit-register.jpg') top no-repeat;
    background-size: 100% auto;
    font-family: 'Archivo', sans-serif;
    filter: saturate(1.3);
    text-decoration: underline;
}

.proj-marvelous {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/marvelous.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    font-size: 5rem;
}

.proj-long-shot-league {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/court.jpg') bottom no-repeat;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 16rem;
    overflow: hidden;
    position: relative;
}

.proj-long-shot-league-update {
    border: 1px solid white;
    color: white;
    font-size: 18px;
    margin: 0;
    opacity: 0.2;
    padding: 5px 15px;
    position: absolute;
    right: 20px;
    top: -50px;
    transition: all 0.9s ease-in-out;
}

.proj-long-shot-league:hover .proj-long-shot-league-update {
    letter-spacing: 1px;
    opacity: 1;
    right: 15px;
    top: 10px;
}

.trophy-img {
    height: 20px;
}

.bball-img {
    height: 60px;
    position: relative;
    top: 6px;
}

.proj-pp {
    font-family: 'Gloria Hallelujah', cursive;
    opacity: 0.65;
    position: relative;
}

.pp-title {
    color: white;
    margin: 0;
    position: absolute;
    text-shadow: 2px 2px black;
}

.color {
    height: 100%;
    width: 100%;
}

.proj-cc {
    background: linear-gradient(hsla(0, 0%, 0%, 0.05), rgba(0, 0, 0, 0.1));
}

.cc-title {
    color: white;
    background: url('../images/wood.jpg');
    font-size: 5rem;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.proj-cc:hover .cc-title {
    border-top: 1px solid rgb(128, 41, 41);
    border-bottom: 1px solid rgb(128, 41, 41);
    letter-spacing: 5px;
    transition: all 0.5s ease-in-out;
}

.proj-headcount {
    background: url('../images/yellow-paper.jpg');
    color: black;
    font-family: 'Permanent Marker', cursive;
}

.proj-space-bunny {
    background: url('../images/space-bunny.gif') center no-repeat
        rgb(33, 33, 33);
    background-size: 50%;
    color: #25e200;
    filter: saturate(2.2);
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    line-height: 2;
    text-shadow: 4px 4px red;
}

.proj-swapi-box {
    background: url('../images/stars-bg.jpg') center;
    background-attachment: fixed;
    color: #fdde09;
    font-family: starWars;
    font-size: 3.2rem;
}

.proj-byobe {
    background: url('../images/beer.gif') center no-repeat;
    background-size: cover;
    font-size: 3rem;
    font-weight: 400;
}

.fa-react {
    color: white;
    font-size: 1.6rem;
    position: relative;
    left: 4px;
}

.proj-headcount .fa-react {
    color: rgb(92, 161, 184);
}

.challenge-exercism {
    background: url('../images/exercism.png') center no-repeat #0098a6;
    background-size: 50%;
}

.challenge-cw {
    background: #303132;
    font-family: 'Lato', sans-serif;
}

.challenge-cw-interior {
    border: 4px solid #a42e23;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    width: 90%;
}

.challenge-cw h4 {
    margin: 0;
}

.cw-banner {
    height: 20%;
}

.me-section {
    background: white;
    display: grid;
    grid-template-areas:
        'headshot spotify'
        'headshot contact';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70vh 30vh;
    height: 100vh;
    min-height: 600px;
}

.headshot {
    align-items: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
        url('../images/headshotBW.jpg') center no-repeat;
    display: flex;
    background-size: cover;
    grid-area: headshot;
    margin: 0 auto;
    width: 50vw;
}

.me-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;
    color: silver;
    line-height: 1.4;
    margin: 0;
    padding: 0 36px 20px;
    position: absolute;
    right: 50%;
    text-align: end;
    vertical-align: text-bottom;
}

.spotify {
    align-items: center;
    background: rgb(26, 26, 26);
    color: white;
    display: flex;
    font-size: 2.5rem;
    font-weight: 200;
    flex-direction: column;
    justify-content: space-around;
    min-height: 400px;
}

.spotify-playlists {
    display: grid;
    grid-template-columns: repeat(3, 8.5rem);
    grid-template-rows: repeat(2, 8.5rem);
    grid-gap: 2rem 2.5rem;
    justify-content: center;
}

.playlist {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.playlist:hover {
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
}

.playlist-1 {
    background: url('../images/playlist-1.png');
    background-size: contain;
}

.playlist-2 {
    background: url('../images/playlist-2.png');
    background-size: contain;
}

.playlist-3 {
    background: url('../images/playlist-3.png');
    background-size: contain;
}

.playlist-4 {
    background: url('../images/playlist-4.png');
    background-size: contain;
}

.playlist-5 {
    background: url('../images/playlist-5.jpg');
    background-size: contain;
}

.playlist-6 {
    background: url('../images/playlist-6.jpg');
    background-size: contain;
}

.contact {
    align-items: center;
    background: white;
    color: rgb(106, 106, 106);
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-height: 200px;
    position: relative;
}

.e-mail-wrapper {
    background: white;
    border: 2px solid rgb(106, 106, 106);
    padding: 10px 14px;
    transition: all 0.4s ease-in-out;
}

.e-mail-clicked {
    background: rgb(106, 106, 106);
    color: white;
    transition: all 0.4s ease-in-out;
}

.e-mail {
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    outline: none;
    width: 320px;
}

.fa-envelope {
    background: white;
    color: rgb(106, 106, 106);
    font-size: 1.6rem;
}

.fa-envelope:hover {
    background: white;
    color: rgb(106, 106, 106);
}

.tooltip-text {
    background: #555;
    border-radius: 6px;
    bottom: 55%;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    transform: scale(0);
    text-align: center;
    transition: transform ease-out 0.2s, bottom ease-out 0.2s;
    z-index: 1;
}

.tooltip-text::after {
    border-color: #555 transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: '';
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
}

.contact:hover .tooltip-text {
    bottom: 70%;
    transform: scale(1);
}

.anchor-links {
    position: relative;
    top: 90vh;
}

.hidden {
    opacity: 0;
}

@media screen and (max-width: 1400px) {
    .proj-wrapper,
    .challenges-wrapper {
        margin: 0 10vw;
    }

    .challenge-exercism {
        background-size: 60%;
    }
}

@media screen and (max-width: 1050px) {
    .proj-space-bunny {
        background-size: 60%;
    }

    .spotify-playlists {
        grid-template-columns: repeat(3, 6.5rem);
        grid-template-rows: repeat(2, 6.5rem);
    }

    .challenge-exercism {
        background-size: 70%;
    }
}

@media screen and (max-width: 970px) {
    .name-section {
        background-attachment: scroll;
        background-size: auto 100%;
    }

    .links {
        position: relative;
    }

    .name h1 {
        font-size: 8rem;
    }

    .proj-long-shot-league {
        font-size: 3rem;
    }

    .bball-img {
        height: 45px;
        top: 4px;
    }
}

@media screen and (max-width: 850px) {
    .me-section {
        grid-template-areas:
            'headshot'
            'headshot'
            'spotify'
            'contact';
        grid-template-columns: 1fr;
    }

    .headshot {
        width: 100vw;
    }

    .me-text {
        right: 0%;
    }

    .cc-title {
        font-size: 3.5rem;
    }

    .pp-title {
        font-size: 3.5rem;
    }

    .proj-space-bunny {
        background-size: 70%;
    }

    .challenge-exercism {
        background-size: 80%;
    }

    .spotify-playlists {
        grid-template-columns: repeat(3, 8.5rem);
        grid-template-rows: repeat(2, 8.5rem);
    }
}

@media screen and (max-width: 687px) {
    .headshot {
        background-size: auto 100%;
    }

    .proj,
    .challenge {
        font-size: 3rem;
    }

    .proj-long-shot-league {
        font-size: 2rem;
    }

    .bball-img {
        height: 30px;
    }

    .pp-title {
        font-size: 2.5rem;
    }

    .proj-space-bunny {
        background-size: 100% auto;
    }

    .proj-byobe,
    .proj-swapi-box,
    .proj-space-bunny {
        font-size: 2rem;
    }

    .proj-hover-text,
    .proj:hover .proj-hover-text {
        transform: scale(0);
    }

    .challenge-exercism {
        background-size: 100%;
    }
}

@media screen and (max-width: 650px) {
    .name h1 {
        font-size: 5rem;
    }

    .proj-space-bunny {
        background-size: auto;
    }
}

@media screen and (max-width: 575px) {
    .cc-title {
        font-size: 2.5rem;
    }

    .proj-headcount {
        background-size: 150%;
    }

    .hello-text {
        font-size: 1.5rem;
    }

    .text-area {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 520px) {
    .proj:hover,
    .challenge:hover {
        letter-spacing: 3px;
    }

    .proj-summit-register {
        background-size: auto 100%;
    }

    .proj-marvelous {
        background-attachment: unset;
        background-size: auto;
    }

    .spotify-playlists {
        grid-template-columns: repeat(3, 5.5rem);
        grid-template-rows: repeat(2, 5.5rem);
        grid-gap: 2rem 0.5rem;
    }
}

@media screen and (max-width: 491px) {
    .links {
        align-items: center;
        display: flex;
        font-size: 3.5rem;
        height: 4rem;
        justify-content: center;
        margin: 1.5rem 0 0;
    }

    .fab {
        margin: 0 1rem;
    }

    .proj-title,
    .challenges-title {
        font-size: 1.5rem;
    }

    .proj,
    .challenge {
        font-size: 2.5rem;
        height: 12rem;
    }

    .proj-wrapper,
    .challenges-wrapper {
        margin: 0 5vw;
    }

    .proj-long-shot-league {
        font-size: 1.5rem;
    }

    .proj-long-shot-league-update {
        display: none;
    }

    .proj-summit-register {
        background-size: auto;
    }

    .bball-img {
        height: 20px;
        top: 1px;
    }

    .cc-title {
        font-size: 2rem;
    }

    .proj-swapi-box {
        font-size: 2rem;
    }

    .proj-byobe,
    .proj-space-bunny {
        font-size: 1.5rem;
    }

    .cw-banner {
        height: 15%;
    }
}

@media screen and (max-width: 445px) {
    .name {
        margin-bottom: 12vh;
    }

    .name h1 {
        font-size: 4rem;
    }

    .proj,
    .challenge {
        height: 150px;
    }

    .pp-title {
        font-size: 2rem;
    }

    .proj-cc {
        font-size: 2rem;
    }

    .text-area {
        padding: 0 10px;
    }

    .e-mail {
        font-size: 1rem;
        width: 240px;
    }

    .fa-envelope {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 370px) {
    .name h1 {
        font-size: 3rem;
    }

    .proj-title,
    .challenges-title {
        font-size: 1.2rem;
        height: 5rem;
    }

    .proj,
    .challenge {
        font-size: 2rem;
    }

    .proj-summit-register {
        font-size: 1.7rem;
    }

    .proj-long-shot-league {
        font-size: 1.2rem;
    }

    .bball-img {
        height: 15px;
    }

    .proj-swapi-box {
        font-size: 1.5rem;
    }

    .proj-byobe,
    .proj-space-bunny {
        font-size: 1.2rem;
    }

    .proj-space-bunny {
        background-size: 150%;
    }

    .e-mail {
        font-size: 0.8rem;
        width: 200px;
    }

    .fa-envelope {
        font-size: 1rem;
    }
}
